:root {
    color: #fff;
    destaque: #db0000;
    bgdark: #222;
    radius: 0.25rem;  /* infelizmente o firefox que usei para desenvolver não permitiu o uso de var() para diversas funções como border-radius (bug reportado ao alfredo)*/
}
button, body, select, input, a {
    font-family: "DM Sans", sans-serif;
    color: var(--color);
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    color: var(--color);
    background-color: #000
}


.banner {
    position: absolute;
    min-width: 100vw;
    max-width: 290%;
    z-index: -1;
    opacity: 0.2
}

.topHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 6%;
}
.topHeader > .logo {
    width: 25%;
    margin-right: auto;
} 
.topHeader > .language {
    margin-right: calc(1rem - (1rem * 0.2));
}
.language {
    padding: 0.4rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: calc(1rem / 4);
    backdrop-filter: blur(2px);
    background-color: rgba(10, 10, 10, 0.8);
}
.topHeader > button {
    background-color: #db0000;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 95%;
    border-radius: calc(1rem / 4);
}

.elementoTextos {
    display: flex;
    margin-top: 16.5%;
    flex-direction: column;
}
.elementoTextos > .title {
    text-align: center;
    margin: 0;
    text-align: center;
}
.elementoTextos > .subtitle {
    margin: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.firstCta {
    margin-top: 3.5%;
    width: 100%;
    max-width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
}
.firstCta > input {
    margin-bottom: 5%;
}
form > input {
    padding: 0 ;
    max-width: 100%;
    font-size: 1.1rem;
    padding: 3% 18%;
    outline: none;
    border-radius: 0.2rem;
    padding-left: 4%;
    background-color: rgba(100, 100, 100, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
form > button {
    max-width: 40%;
    background-color: #db0000;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    padding: 3% 10%;
    white-space: nowrap;
    border-radius: 0.25rem;
    
}



.elementoLine {
    margin-top: 16%;
    position: relative;
    width: 150%;
    min-width: 150%;
    padding: 25%;
    padding-top: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 250%;
    padding: 0.2rem;
    background: linear-gradient(to right, #b32766 10%, red 80%, #b32766 10%);
    border-radius: 100%;
    aspect-ratio: 1;
}
.line > .circulo {
    background-color: #000;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
}


.about {
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    opacity: 1
}
.about > .blur {
    overflow: hidden;
    position: relative;
    width: 500%;
    position: absolute;
    margin-top: -29%;
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 300rem;
}
.about > .blur > div {
    position: absolute;
    top: -18%;
    background-color: #131d46;
    filter: blur(50px);
    width: 20%;
    aspect-ratio: 1;
}
.about > .adora {
    position: relative;
    width: 98%;
    border-radius: 1rem;
    padding: 8% 6%;
    max-width: 98%;
    background: linear-gradient(to top right, #231835, #161a3e);
    display: flex;
    flex-direction: column;
}
.about > .adora > span > strong {
    font-size: 1.15rem;
}
.about > .adora > button {
    padding: 3%;
    margin-top: 6%;
    max-width: 35%;
    font-weight: bold;
    font-size: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    border: none;
    border-radius: 0.5rem;
}
.about > .adora > img {
    position: absolute;
    width: 20%;
    margin-top: -22%;
}
.about > .title {
    width: 100%;
    margin-top: 16%;
    font-size: 1.15rem;
    font-weight: bold;
}
.about > .filmes {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 4%;
}
.about > .filmes > .filme {
    margin-left: 4%;
    margin-right: 8%;
    min-width: 30%;
    display: flex;
    position: relative;
}
.about > .filmes > .filme > img {
    border-radius: 0.5rem;
    width: 100%;
}
.about > .filmes > .filme > span {
    color: black;
    font-size: 5rem;
    width: 110%;
    max-width: 110%;
    font-weight: 900;
    position: absolute;
    bottom: -5%;
    left: -10%;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #fff;
}

.about > .motivo {
    position: relative;
    width: 98%;
    border-radius: 1rem;
    padding: 6%;
    padding-bottom: 1%;
    max-width: 98%;
    background: linear-gradient(to top left, #250f22 20%, #202b5b);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.about > .motivo > span {
    opacity: 0.7;
}
.about > .motivo > strong {
    margin-bottom: 2%;
    font-size: 1.20rem;
    opacity: 1;
}
.about > .motivo > img {
    margin-left: auto;
    width: 4rem;
    margin-right: -5%;
    margin-top: 3%;
}
.about > .faq {
    margin-top: 3%;
    width: 100%;
}
.about > .faq > details {
    width: 98%;
    background-color: #2d2d2d;
    margin-top: 3%;
    overflow: hidden;
    position: relative;
}
.about > .faq > details > summary {
    padding: 6%;
    display: flex;
    max-width: 70%;
    align-items: center;
    cursor: pointer;
}
.about > .faq > details > summary::marker {
    display: none;
}
.about > .faq > details > summary::after {
    content: "+";
    font-weight: 200;
    position: absolute;
    right: 2rem;
    font-size: 3rem;
    transition: transform 0.05s;
}
.about > .faq > details[open] > summary::after {
    content: '-';
    transform: rotate(360deg);
}
.reply {
    border-top: 2px solid #000;
    padding: 1rem;
    font-weight: 500;
}


footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}
footer > .formCta {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
footer > .formCta > input {
    margin-top: 5%;
    margin-bottom: 5%;
}
footer > .duvidas {
    color: #fff;
    margin-top: 20%;
    width: 90%;
    opacity: 0.6;
}
footer > .duvidas > a {
    cursor: pointer;
}
footer > .links {
    margin-top: 10%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.6;
}
footer > .links > a {
    min-width: 55%;
    margin-bottom: 2%;
}
footer > .language {
    margin-right: auto;
    margin-top: 10%;
    margin-left: 5%;
}
footer > .name {
    width: 90%;
    margin-top: 10%;
    opacity: 0.8;
}

@media (min-width: 600px) {
    .banner {
        max-width: 200%;
    }
    .topHeader {
        padding: 5%;
    }
    .topHeader > .logo {
        width: 16%;
    }


    .elementoTextos {
        margin-top: 12%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .elementoTextos > h1,h5 {
        max-width: 70%;
    }
    .firstCta {
        max-width: 72%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2%;
    }
    .firstCta > input {
        margin-bottom: 0;
        max-width: 40%;
    }
    .firstCta > button {
        margin: 0;
        margin-top: 0;
        max-width: 35%;
    }

    .about > .blur {
        margin-top: -29.5%;
    }
    .about > .adora {
        padding: 0;
        padding: 3%;
        max-width: 75%;
        margin-top: -17%;
        margin-left: auto;
        display: flex;
        flex-direction: auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2%;
    }
    .about > .adora > img {
        margin-left: -26%;
        margin-top: -5%;
        width: 18%;
    }
    .about > .adora > span {
        margin: 0;
        max-width: 70%;
    }
    .about > .adora > button {
        margin: 0;
        padding: 2% 2%;
        max-width: 30%;
        max-height: 50%;
        font-size: 100%;
    }
    .about > .filmes > .filme {
        min-width: 20%;
    }
    .about > .filmes > .filme > span {
        font-size: 6rem;
    }
    .formCta {
        display: flex;
        align-items: center;
        gap: 4%;
    }
    .formCta > button {
        margin: 0;
        max-height: 40%;
        max-width: 25%;
    }
}
@media (min-width: 960px) {
    .elementoTextos {
        margin-top: 8%;
        font-size: 120%;
        max-width: 70%;
    }
    .banner {
        max-width: 150%;
    }
    .firstCta {
        margin-top: 0;
        max-width: 50%;
    }
    .formCta {
        max-width: 60%;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 1080) {
    .faq summary, .faq section {
        padding: 0;
    }
}